html, body, #root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    #root > div {
        width: 100%;
        height: 100%;
    }
}

* {
    box-sizing: border-box;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    #RSSDetail {
        ul {
            display: block !important;
            list-style-type: disc !important;
            padding-inline-start: 30px;
        }

        ol {
            display: block !important;
            list-style-type: decimal !important;
            padding-inline-start: 30px;
        }
    }
}
